

#menu {
    background-color: #202020;
    color: var(--fontColorLight);
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--paddingEx);
    width: 100%;
    height: 100%;
    margin: 0 var(--paddingEx);
    padding: var(--paddingLg);
    box-shadow: var(--shadowCurveEx);
    border: var(--borderSm) solid var(--bgColorAccent);
}

.foodCategory {
    padding: var(--paddingLg);
    border: var(--borderMed) solid var(--bgColorAccent);
    border-radius: var(--curveSm);
    max-height: min-content;
}

.foodCategory > h1 {
    text-align: center;
    border-bottom: var(--borderSm) solid var(--bgColorAccent);
    margin-bottom: var(--paddingLg);
}

.foodCategory > div {
    margin-bottom: var(--paddingLg);
    width: 100%;
}

.foodNamePrice > .foodName, .foodNamePrice > .foodPrice {
    margin-right: var(--paddingMed);
    display: inline-flex;
}

.foodImage {
    width: 100%;
    height: auto;
}

.foodPrice {
    font-style: italic;
    text-align: center;
}

details {
    cursor: pointer;
}

details > img {
    margin: var(--paddingMed) 0px;
}